Библиотека random - предоставляет функции для генерации случайных чисел,
букв, случайного выбора элемента последовательности и т.д.
Библиотека sys - предоставляет набор функций, которые дают информацию
о том, как интерпретатор Python взаимодействует с ОС.
Библиотека pygame - набор модулей языка программирования Python,
предназначенный для написания компьютерных игр и мультимедиа приложений.
